@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ringlaan-Zuid 114<br />
    8420 De Haan<br />
    <abbr title="Phone">P:</abbr>
    0497 85 30 00
</address>

<address>
    <strong>Hulp nodig? </strong> <a href="mailto:Support@example.com">roien@telenet.be</a><br />
    <strong>Marketing: </strong> <a href="mailto:Marketing@example.com">laurens.hofman87@gmail.com</a>
</address>
